@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body{
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    background-color: hsl(216, 50%, 16%);
    max-width: 30vw;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}
#main_img{
    width: 100%;
    height: auto;
    border-radius: 3%;
}
#head_text{
    color: white;
    font-size: 18px;
    font-weight: 400;
}
#body_text{
    color: hsla(215, 51%, 70%, 0.7);
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}
#info_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#eth{
    color: hsl(178, 100%, 50%);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
#clock{
    color: hsl(215, 51%, 70%);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
#icon{
    padding-right: 7px;
}
hr{
    border-width: 0.5px;
    border-color: hsla(215, 51%, 70%, 0.7);
}
#bottom_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#avatar{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 0.5px white solid;
    margin-right: 2vw;
}
#creator_name{
    color: white;
    font-size: 14px;
    font-weight: 300;
}
span{
    color: hsla(215, 51%, 70%, 0.7);
}

@media screen and (max-width: 425px){
    #card{
        background-color: hsl(216, 50%, 16%);
        max-width: 70vw;
        padding: 20px;
        margin: auto;
        border-radius: 10px;
    }
    #head_text{
        font-size: 22px;
    }
    #body_text{
        font-size: 17px;
    }
    #avatar{
        width: 25px;
        height: auto;
    }
}